.banner {
    z-index: -1;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-height: 80vh;

    padding-left: 4rem;

    color: #222;

    background: url("/images/background.svg") repeat-y top right;
}

.content {
    width: clamp(32ch, 60ch, 100%);
}

.message {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;

    margin-top: 2rem;
}

.description {
    max-width: 45ch;
    padding-left: 1.2rem;
    margin-top: 1rem;

    font-size: 1.08rem;
}

.users_container {
  margin-top: 1rem;

  height: auto;
  width: auto;

}

.users_img {
    max-height: 6rem;
}


@media screen and (max-width: 1000px) {
  .banner {
    padding-left: 0;

    justify-content: flex-end;
    align-items: center;

    background: url("/images/background-m.png") repeat-x top;
  }

  .content {
    margin-top: 32rem;
  }
}

@media screen and (max-width: 560px) {
    .content {
        padding-left: 1rem;
    }

    .message {
      font-size: 2rem;
    }

    .description {
      font-size: 1rem;
    }

    .users_img {
        height: 5rem;
    }
}

@media screen and (max-width: 400px) {
  .users_img {
      max-height: 4.2rem;
  }
}
