.banner {
    z-index: -1;
    position: relative;
    
    width: 100%;
    height: 80vh;

    background: url("/background.svg") no-repeat center right;
}

.content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

    width: 60ch;
}

.message {
    font-size: 2.5rem;
    font-weight: bold;;
    text-shadow: 1px 1px 2px #000;
}

.description {
    width: 45ch;
    margin-left: 1.2rem;

    font-size: 1.08rem;
}

.users_container {
    display: flex;
    align-items: flex-end;

    width: auto;
    height: 100%;
}

.users_img {
    height: 6rem;

    margin-left: 5rem;
    margin-bottom: 9rem;
}