.container {
  width: 100%;

  position: absolute;
  display: flex;
  align-items: center;

  background-color: black;
  color: white;

  border-radius: 0 0 .8rem .8rem;
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

.logo_container {
  display: flex;
  justify-content: center;

  margin: .5rem;
  margin-right: 5rem;
}

.options {
  font-size: 1em;
  font-weight: bold;
  color: grey;

  margin: .5rem;
}

.options:hover {
  text-decoration: underline;
}

.options_list {
  list-style: none;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.options_container {
  display: flex;
  justify-content: center;

  margin: .5rem;
}

.start {
  display: flex;

  background: rgb(33,15,99);
  background: linear-gradient(90deg, rgba(33,15,99,1) 45%, rgba(12,68,78,1) 97%);

  font-size: 1.5em;
  font-weight: bold;

  border-radius: .8rem;

  margin: .5rem;
  margin-left: auto;
  margin-bottom: .8rem;
  padding: .5rem;
}

.start:hover {
  background-color: #dd0000;

  font-size: 1.6em;
}

.menu {
  visibility: hidden;
  position: absolute;
}

.dropdown {
  display: none;
}

@media (max-width: 768px) {
  .options_container {
    visibility: hidden;
    position: absolute;
  }

  .start {
    visibility: hidden;
    position: absolute;
  }

  .menu {
    visibility: visible;
    position: static;
  }

  .menu_button {
    visibility: visible;
    position: static;
    margin-right: 1.5rem;

    background: rgb(33,15,99);
    background: linear-gradient(90deg, rgba(33,15,99,1) 45%, rgba(12,68,78,1) 97%);
    border: none;
    border-radius: .2rem;

    width: 40px;
    height: 40px;
  }

  .menu_button:hover {
    width: 44px;
    height: 44px;
    cursor: pointer;
  }

  .dropdown {
    z-index: 2;
    background: white;
    position: absolute;

    margin-left: -6rem;
    width: 15ch;

    border-radius: 1rem;
  }

  .drop_options {
    list-style: none;
  }

  .menu:hover .dropdown {
    display: block;
  }

  .menu:active .dropdown {
    display: block;
  }


  .container {
    justify-content: space-between;
  }
}
