.nav {
  z-index: 1;
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 4rem;

  background-color: black;

  clip-path: polygon(0 0, 100% 0, 100% 92%, 99% 100%, 1% 100%, 0 92%);
}

.opt_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: auto;
  height: 100%;

  margin-left: 2rem;
}

.logo {
  width: auto;
  height: 64px;

  margin: 0.5rem;
}

.nav_list {
  display: flex;
  justify-content: space-around;

  width: auto;
  height: 100%;

  color: rgb(200, 200, 200);
  font-size: 1rem;

  margin-left: 4rem;
  margin-bottom: -.1rem;
}

.nav_item {
  margin-bottom: -1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.nav_item:hover {
  color: grey;
  text-decoration: underline;
}

.start_button {
  color: white;
  background: linear-gradient(90deg, rgba(66,4,126,1) 0%, rgba(0,41,94,1) 100%);

  font-size: 1.5rem;
  font-weight: bolder;

  padding: 0.2rem 0.4rem;
  margin-right: 4rem;

  border-radius: 0.5rem;
}

.start_button:hover {
  font-size: 1.6rem;
  background: linear-gradient(0deg, rgba(66,4,126,1) 0%, rgba(0,41,94,1) 100%);
}


/* Mobile Part */

.mobile_container {
  display: flex;
  flex-direction: column;

  background-color: black;

  min-height: 40vh;

  margin-bottom: -1rem;
}

.mnav_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: auto;
  height: 30vh;

  color: rgb(200, 200, 200);
  font-size: 1rem;

  margin-bottom: 9rem;
}

.mobile_container {
  display: none;
}

.menu_button {
  background-color: transparent;

  width: 48px;
  height: 48px;

  margin-right: 3rem;
  padding: .1rem;

  display: none;
}

.menu_icon {
  width: 100%;
  height: 100%;
}

#show {
  display: flex;
}

@media (max-width: 795px) {
  .nav {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 95% 100%, 5% 100%, 0 90%);
  }

  .nav_list {
    display: none;
  }

  .start_button {
    display: none;
  }

  .menu_button {
    display: block;
  }

  .mobile_container > .start_button {
    display: block;
  }

  .start_button {
    margin: 1rem;
    margin-top: auto;
    margin-top: 0rem;

    width: 16rem;
    height: 3rem;

    position: absolute;
    top: calc(30vh + 2rem)
  }

  .nav_item:hover {
    background-color: rgb(34, 34, 34);
    padding: 1rem;
    border-radius: 1rem;
  }
}

@media (max-width: 890px) {
  .nav_list {
    margin-left: -100%;
  }

  .start_button {
    font-size: 1.15rem;
    margin-right: 1.5rem;
  }

  .start_button:hover{
    font-size: 1.2rem;
  }
}


