.trustedContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 20vh;

  padding-top: 3rem;
}

.trusted {
  display: flex;
  justify-content: space-between;

  width: 80%;
  min-height: 20vh;

  color: rgb(224, 224, 224);
  background-color: rgb(13, 24, 75);
  border-radius: 2rem;

  padding: 2rem;
  padding-right: 4rem;;

  font-weight: bold;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 300px;
}

.trustedLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 300px;
}


@media (max-width: 800px) {
  .trusted {
    flex-direction: column;
  }

  .trustedLogos {
    margin-top: 3rem;
    align-self: center;
  }
}

@media (max-width: 500px) {
  .trustedLogos {
    width: 250px;
  }
}
